html {
    height: 100%;
    /* background: #FAF7F2; */
    background-image: url(https://img.freepik.com/free-vector/christmas-background-with-bokeh-snowflakes_1393-207.jpg?w=1380&t=st=1671050055~exp=1671050655~hmac=d6ab97bf5c2f7b8fc9a94563d0093fa1f71813a32404b30a8fb25181b3f23154);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }


  *, *::before    , *::after {
	box-sizing: inherit;
  }
  
  .u-clearfix::before,
  .u-clearfix::after {
	content: " ";
	display: table;
  }
  
  .u-clearfix::after {
	clear: both;
  }
  
  .u-clearfix {
	*zoom: 1;
  }
  
  .subtle {
	color: #aaa;
  }
  
  .card-container {
	margin: 25px auto 0;
	position: relative;
	width: 692px;
  }
  
  .card {
	background-color: #fff;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
  }
  
  .card-body {
	display:inline-block;
	float:none;
	width: 310px;
  }
  
  .card-number {
	margin-top: 15px;
  }
  
  .card-circle {
	border: 1px solid #aaa;
	border-radius: 50%;
	display: inline-block;
	line-height: 22px;
	font-size: 12px;
	height: 25px;
	text-align: center;
	width: 25px;
  }
  
  .card-author {
	display: block;
	font-size: 12px;
	letter-spacing: .5px;
	margin: 15px 0 0;
	text-transform: uppercase;
  }
  
  .card-title {
	font-family: 'Cormorant Garamond', serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	margin: 10px 0;
  }
  
  .card-description {
	display: inline-block;
	font-weight: 300;
	line-height: 22px;
	margin: 10px 0;
  }
  
  .card-read {
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 6px;
	margin: 5px 0 20px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
  }
  
  .card-read:after {
	background-color: #b8bddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 9px;
	width: 75%;
  }
  
  .card-tag {
	float: right;
	margin: 5px 0 0;
  }
  
  .card-media {
	float: right;
  }
  
  .card-shadow {
	background-color: #fff;
	box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
	height: 1px;
	margin: -1px auto 0;
	width: 80%;
	z-index: -1;
  } 
